// views opions mixins
@mixin body-default {
  background: #f4f3ef;
  padding: 3em;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 3em;
}

@mixin responsive-line {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.5em;
}

@mixin add-title($text) {
  &::before {
    content: $text;
    position: absolute;
    display: block;
    top: -30px;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: $text-dark;
    margin-left: 0.5rem;
  }
}

// button options mixins
@mixin cta-button-hover($main) {
  background-color: $main;
}

@mixin cta-button-active($main, $secundary, $font) {
  background-color: rgba($secundary, 0.5);
  color: $font;
}

// events options mixins
@mixin ct-hidden() {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}

@mixin ct-visible() {
  visibility: visible;
  opacity: 1;
}

@mixin bc-color($color) {
  background-color: $color;
}

@mixin primary-button-hover($main, $font) {
  background: $main;
  color: $font;
}

// transition options mxins
@mixin side-bar-transition($value) {
  transition: transform linear $value 0.7s;
}
