// Text Colors
$text-light: $white;
$text-dark: $color-1-100;
$text-title: $color-2-100;

// Text message
$success: $color-5-100;
$danger: $color-4-100;
$warning: $color-7-100;
$default: $color-2-100;

// Forms Colors
$form-background: $color-6-100;
$config-background: $color-8-100;

// Buttons color
$button-background: $color-3-100;
$button-font: $color-6-100;
$button-default: $color-1;
$button-default-hover: $color-1-25;

// Highlight color
$target-red: $color-4-100;
$target-green: $color-5-100;
$target-yellow: $color-7-100;
$target-blue: $color-2-100;

// Border color
$border-color: $color-4-100;
$border-color-div: $color-2-100;

//backgrounds
$background-views: $color-9-100;
