//Project Main Colors

$white: #fff;
$color-1: #636e72;
$color-2: #65afb3;
$color-3: #abced1;
$color-4: #c4474b;
$color-5: #47c485;
$color-6: #333637;
$color-7: #c4a547;
$color-8: #292f32;

// Colors variation

$color-1-25: lighten($color-1, 25%);
$color-1-50: lighten($color-1, 10%);
$color-1-100: $color-1;
$color-1-200: darken($color-1, 10%);
$color-1-400: darken($color-1, 20%);

$color-2-25: lighten($color-2, 25%);
$color-2-50: lighten($color-2, 10%);
$color-2-100: $color-2;
$color-2-200: darken($color-2, 10%);
$color-2-400: darken($color-2, 20%);

$color-3-25: lighten($color-3, 25%);
$color-3-50: lighten($color-3, 10%);
$color-3-100: $color-3;
$color-3-200: darken($color-3, 10%);
$color-3-400: darken($color-3, 20%);

$color-4-25: lighten($color-4, 25%);
$color-4-50: lighten($color-4, 10%);
$color-4-100: $color-4;
$color-4-200: darken($color-4, 10%);
$color-4-400: darken($color-4, 20%);

$color-5-25: lighten($color-5, 25%);
$color-5-50: lighten($color-5, 10%);
$color-5-100: $color-5;
$color-5-200: darken($color-5, 10%);
$color-5-400: darken($color-5, 20%);

$color-6-25: lighten($color-6, 25%);
$color-6-50: lighten($color-6, 10%);
$color-6-100: $color-6;
$color-6-200: darken($color-6, 10%);
$color-6-400: darken($color-6, 20%);

$color-7-25: lighten($color-7, 25%);
$color-7-50: lighten($color-7, 10%);
$color-7-100: $color-7;
$color-7-200: darken($color-7, 10%);
$color-7-400: darken($color-7, 20%);

$color-8-25: lighten($color-8, 25%);
$color-8-50: lighten($color-8, 10%);
$color-8-100: $color-8;
$color-8-200: darken($color-8, 10%);
$color-8-400: darken($color-8, 20%);
